@model TrainerDataWithCourseDataViewModel


<h1>@Model.TrainerName</h1>
<h1>@Model.CourseName</h1>
<h1>@Model.Grade</h1>
<h1><a href="http://localhost:5117/Trainer/All">Back</a></h1>

<style>
    h1{
    color:@(Model.color);
    }
</style>
